.webassets-cache/
webassets-external/
.DS_Store
*.pyc
*.pyo
__pycache__
env
venv
*.env
env*
dist
*.egg
*.egg-info
*.sqlite
.idea
dump.rdb
.vscode/
.history/
config.env
*.db
LICENSE.txt
bad_README.txt

bad_Dockerfile
bad_Procfile.txt
bad_docker-compose.yml
bad_docs
bad_readme_media
git-secrets











